.animate-fadeIn {
    animation: fadeIn 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

#universalModal::-webkit-scrollbar {
    width: 8px;
}

#universalModal::-webkit-scrollbar-thumb {
    background: #38b2ac;
    border-radius: 8px;
}